<% if(typeof functional !== 'undefined') { -%>
<template functional>
  <div class="<%= name %>">
    Component <%= name %>
  </div>
</template>

<style lang="sass" scoped>
.<%= name %>
  // component style
</style>
<% } else { -%>
<template>
  <div class="<%= name %>">
    Component <%= name %>
  </div>
</template>
<% if(version == 3) { %>
<script>
import { defineComponent } from 'vue';

export default defineComponent({
  name: '<%= name %>',
  setup() {
    // component setup
  },
});
</script>
<% } else { -%>
<script>
export default {
  name: '<%= name %>',
}
</script>
<% } -%>

<style lang="sass" scoped>
.<%= name %>
  // component style
</style>
<% } %>